div.header {
    background-color: #DAF1FF;
    margin: 0 auto 0 auto;
    width: 60%;
    padding: 10px;
    border: 3px solid #B8D0DD;
}
div.contentArea {
    background-color: #B2B298;
    width: 60%;
    height: auto;
    margin: auto;
    padding: 10px;
    border-left: 3px solid #707066;
    border-right: 3px solid #707066;
    border-bottom: 3px solid #707066;
}
div.article {
    background-color: #FFFFF3;
    width: 90%;
    min-height: 75px;
    margin: 25px auto 25px auto;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
}
div.navBar {
    background-color: black;
    text-align:right;
    width: 100%;
    min-height: 50px;
}
h1 {
    text-align: center;
    margin: 0px;
}
h2 {
    margin: 0px;
    font-size: 24px;
}
p {
    font-size: 18px;
}
body {
    background-color: #B2B2B2;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    background-color: #333;
  }
  
  ul.navbar li {float: left;}
  ul.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.navbar li a:hover:not(.active) {background-color: #111;}
  
  ul.navbar li a.active {background-color: #B2B2B2;}
  
  ul.navbar li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.navbar li.right, 
    ul.navbar li {float: none;}
  }